.DS_Store
*.exe
*.pdb
*.suo
*.user
bin
obj
publish
~$*.xlsx
*_TemporaryKey.pfx

test-results
TestResult.xml
*.Test.VisualState.xml
*.userprefs

packages
Debug
Release
*.stackdump
*.swp
Thumbs.db
UpgradeLog*.htm
Backup
StyleCop.cache
pingme.txt
private.xml
.vscode
Scala/hello-project/.idea/workspace.xml
.vs
.pyenv
*.pid
*.log
**/.idea/caches/*
