# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.dotnet.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rober\code\CodingExperiments\dotnet\.idea\.idea.dotnet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
