*.sdf
*.obj
*.log
*.tlog
*.ilk
*.idb
*.lastbuildstate
ipch
*.opensdf
.objs
*.depend
*.layout
*.opendb
*.o
out
cmake-build-debug
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
cmake-build-debug-mingw
cmake-build-release-mingw
