*.sdf
*.obj
*.log
*.tlog
*.ilk
*.idb
*.lastbuildstate
ipch
*.opensdf
.objs
*.depend
*.layout
*.opendb
*.o

out
build

CMakeFiles
CMakeScripts
CMakeCache.txt
**/.vs/CMake Overview

cmake-build-debug
cmake-build-debug-coverage
cmake-build-debug-mingw
cmake-build-debug-visual-studio
cmake-build-release-mingw
cmake-build-release-visual-studio
cmake_install.cmake

_deps

main

**/*.dSYM/
**/*.xcodeproj/project.pbxproj
