*.sdf
*.obj
*.log
*.tlog
*.ilk
*.idb
*.lastbuildstate
ipch
*.opensdf
.objs
*.depend
*.layout
*.opendb
*.o

out
build

CMakeFiles
CMakeScripts
CMakeCache.txt
**/CTestTestfile.cmake
**/DartConfiguration.tcl
**/*_discovery.cmake
**/*_include.cmake
**/.vs/CMake Overview

cmake-build-debug
cmake-build-debug-coverage
cmake-build-debug-mingw
cmake-build-debug-visual-studio
cmake-build-release-mingw
cmake-build-release-visual-studio
cmake_install.cmake

_deps

main

# These can be recreated with
# cd <PROJ>
# cmake -S . -B . -G Xcode
**/*.dSYM/
**/*.xcodeproj/project.pbxproj
