# Gifs
lissajous.gif

# Executables
cbrt
coinToss
daysOld
dup1
dup2
echo
env
fetch
fibonacci
fizzBuzz
go-eu-ref.csv
helloworld
http
httpLover
join-echo
loop-echo
multiples
newton
stop-watch
time
use-averages
walk-files
wordCount
dup-with-names
lissajous
