# Gifs
lissajous.gif

# Executables
coinToss
daysOld
dup1
dup2
dup-with-names
echo
env
fetch
fibonacci
fizzBuzz
go-eu-ref.csv
helloworld
http
httpLover
join-echo
lissajous
loop-echo
multiples
newton
print-bytes
server1
sha256diff
stop-watch
time
use-averages
walk-files
wordCount
